.navbar {
    height: 7.5rem;
    width: 100vw;
    background-color: white;
    font-size: $default-font-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    @include boxShadow;
    z-index: 10;

    & > * {
        margin-right: 2.5rem;
    }

    a,
    a:visited {
        text-decoration: none;
        color: $color-grey-dark;
    }

    &__logo-box {
        padding-left: 1rem;
        align-items: center;
        display: flex;
    }

    &__logo-text {
        font-size: 2.5rem;
        font-weight: 700;
    }

    &__links * {
        margin-right: 2rem;
    }
}