.navbar {
    height: 7.5rem;
    width: 100%;
    background-color: white;
    font-size: $default-font-size;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 10px rgba($color-grey-medium, .6);

    & > * {
        margin-right: 2.5rem;
    }

    a,
    a:visited {
        text-decoration: none;
        color: $color-grey-dark;
    }
}