// COLORS
$color-grey-dark: #444444;
$color-grey-light: #fafafa;
$color-grey-medium: #b3b3b3;

$color-business: blue;
$color-entertainment: red;
$color-general: black;
$color-health: green;
$color-science: orange;
$color-sports: purple;
$color-tech: yellow;


//FONT
$default-font-size: 1.6rem;

$composition-padding: 4rem;