.section-composite {
    padding: 17rem 0;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    text-align: center;    

    &__heading{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: $composition-padding;
    }


}