@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;700;800&display=swap');

body {
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    background-color: $color-grey-light;
    padding: 7.5rem 0 0 0;
}

.heading-primary {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: white;
    padding: 2rem;

    &--main {
        font-size: 7rem;
        font-weight: 700;
        display: block;
        letter-spacing: 6.2rem;
    }

    &--sub{
        font-size: 6rem;
        font-weight: 400;
    }
}

.heading-secondary {
    font-size: 8rem;
    span {
        width: 100%;
        -webkit-box-decoration-break:clone;
        box-decoration-break: clone;
        height: 30rem;
        padding: 3rem;
    }
}
.science {
    color: $color-science;
    background-color: rgba(lighten($color-science, 15%), 0.438);
}
.general {
    color: $color-general;
    background-color: rgba(lighten($color-general, 15%), 0.438);

}
.business {
    color: $color-business;
    background-color: rgba(lighten($color-business, 15%), 0.438);

}
.health {
    color: $color-health;
    background-color: rgba(lighten($color-health, 15%), 0.438);

}
.sports {
    color: $color-sports;
    background-color: rgba(lighten($color-sports, 15%), 0.438);

}
.entertainment {
    color: $color-entertainment;
    background-color: rgba(lighten($color-entertainment, 15%), 0.438);

}
.tech {
    color: $color-tech;
    background-color: rgba(lighten($color-tech, 15%), 0.438);

}